/* Основные стили для шрифтов */
.active-font {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

.style-font {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
}

/* Стили для общего оформления и макета */
html, body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(#FCCBBA, #F89BA6);
    display: flex;
    flex-direction: column;
}

#root, .App {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

footer {
    margin-top: auto;
}
