body {
    background-image: linear-gradient(#FCCBBA,#F89BA6);
    height: 100vh;
}

.active-font{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.style-font{
        font-family: "Indie Flower", cursive;
        font-weight: 400;
        font-style: normal;
}