/* Основной контейнер для Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Скрытое состояние */
    width: 250px;
    height: 100%;
    background-image: linear-gradient(#fcaa97, #fd949f);
    color: white;
    padding-top: 60px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar.open {
    left: 0; /* Открытое состояние */
}

.sidebar .sidebar-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar .sidebar-links li {
    padding: 15px;
    text-align: left;
}

.sidebar .sidebar-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.sidebar .sidebar-links li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.sidebar .sidebar-links .btn.make-wish {
    width: 100%;
    text-align: left;
}

.sidebar .sidebar-links .btn.signup-btn {
    width: 100%;
    text-align: left;
}

/* Кнопка для открытия и закрытия Sidebar */
.sidebar-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    z-index: 1100;
    transition: transform 0.3s ease;
}

.sidebar-toggle.open {
    transform: rotate(90deg); /* Пример трансформации, можно убрать или изменить */
}

/* Закрытие Sidebar при нажатии на кнопку */
.sidebar-toggle:focus {
    outline: none;
}




@media (min-width: 768px) {
    .sidebar-toggle{
        display: none;
    }
}




